<h1>Cadastre seu livro:</h1>
<form action="/books/insertbook" method="POST">
    <div class="form-control">
        <label for="title">Titulo:</label>
        <input type="text" name="title" placeholder="Digite seu titulo">
    </div>
    <div class="form-control">
        <label for="pageqty">Numero de Paginas:</label>
        <input type="text" name="pageqty" placeholder="Quantas paginas tem o livro?">
    </div>
    <input type="submit" value="Cadastrar">
</form>